[main]

dont_bundle=scripts/vendor/leaflet/leaflet.js

[groups]

main =
    styles/example_css.css


package_form =
    scripts/vendor/jquery/jquery-ui-1_10_4_custom_min.js
    scripts/vendor/jquery/jquery_1_10_2.js

    styles/jquery_theme/jquery-ui.css
    scripts/vendor/leaflet/leaflet.js
    scripts/vendor/leaflet/plugin/leafletdraw/leaflet.draw.js
    scripts/package.js

    styles/map.css
    scripts/vendor/leaflet/leaflet.css
    scripts/vendor/leaflet/plugin/leafletdraw/leaflet.draw.css

search_form=
    scripts/vendor/jquery/jquery_1_10_2.js
    scripts/temporalsearch.js
