<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Projects?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        ECAI focuses on Projects which are ongoing activities related to trans-disciplinary research themes.  Teams of international scholars participate in these projects, however membership is fluid.  Projects members identify existing data, create, curate and publish collections of datasets related to their theme.  These datasets are often organized into specific deliverable data results which are clustered in Groups. A Projects datasets have also often been used in multiple Group sub-projects.  Users can have different roles within Projects, depending on their level of authorization to create, edit, and publish.
      {% endtrans %}
    </p>
  </div>
</div>
